version: "3.9"

# ------------------------------------------------------------------------------
# Services
# ------------------------------------------------------------------------------

services:

  # --- Bitcoin daemon
  bitcoind:
    build:
      context: ./bitcoind
      args:
        BITCOIN_VERSION: 22.0  # This is where to specify release version for upgrades
    ports:
      - 8333:8333
      # - 127.0.0.1:8332:8332  # exposes RPC to localhost
    expose:
      - 8332  # Only expose RPC to other services
    volumes:
      - bitcoind-data:/root/.bitcoin
    restart: always  # causes container to start on system boot

  # --- Backend
  backend:
    build: ./backend
    command: ./manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/code
      - bitcoind-data:/root/.bitcoin
    ports:
      - "8000:8000"
    depends_on:
      - bitcoind
    extra_hosts:
      - "host.docker.internal:172.17.0.1"

  # --- Go-Ethereum light node
  # goeth:
  #   image: ethereum/client-go:stable
  #   ports:
  #     - 30303:30303
  #   volumes:
  #     - geth-data:/root/.ethereum
  #   command: "-syncmode light"
  #   restart: always  # causes container to start on system boot


# ------------------------------------------------------------------------------
# Volumes
# ------------------------------------------------------------------------------

volumes:
  # Running a light node, just use the default /var/lib/docker/volumes location
  geth-data:
  # Bitcoin data is huge, I have a second disk just for that
  bitcoind-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /media/btcdisk