version: "3.9"

# ------------------------------------------------------------------------------
# Services
# ------------------------------------------------------------------------------

services:

  # --- Bitcoin daemon
  bitcoind:
    build:
      context: ./bitcoind
      args:
        BITCOIN_VERSION: 22.0  # This is where to specify release version for upgrades
    ports:
      - 8333:8333
      - 127.0.0.1:8332:8332  # take care to not expose RPC port to the world TODO: docker private network
    volumes:
      - bitcoind-data:/root/.bitcoin
    restart: on-failure

  # --- Go-Ethereum light node
  goeth:
    image: ethereum/client-go:stable
    ports:
      - 30303:30303
    volumes:
      - geth-data:/root/.ethereum
    command: "-syncmode light"


# ------------------------------------------------------------------------------
# Volumes
# ------------------------------------------------------------------------------

volumes:
  # Running a light node, just use the default /var/lib/docker/volumes location
  geth-data:
  # Bitcoin data is huge, I have a second disk just for that
  bitcoind-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /media/btcdisk